*{
    font-family: 'Barlow', sans-serif;
}

body{
    margin-top: 5px;
}
.block1{
    width: 1440px;
    height: 60px;
    text-align: center;  
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    border-color: black;
}

.allblocks{
    width: 1440px;
    height: 3630px;
    text-align: center;
    margin: auto;
}

.block1 p{
    margin-right: 1000px;
    font-size: 36px;
    margin-bottom: 32px;
    color: rgb(105,185,225,100%);
    grid-column-start:1 ;
    margin-left: 15px;
    letter-spacing: 3px;
}

.block1 a{
    grid-column-start:2 ;
    grid-column-end:3 ;
    margin-top: 20px;
    color: rgb(0,130,243);
}

.block2{
    background-image: url(ocr.hgs6d.jpeg);
    height: 585px;
    width: 1440px;
}

.block2 button{
    background: none;
    background-color:rgb(105,185,225,100%);
    color: white;
    border-color: rgb(105,185,225,100%);
    border-radius: 4px;
    border-width: 1px;
    width: 138px;
    height: 45px;
    margin-top: 350px;
    margin-right: 10px;
    font-size: 16px;
    
}

.block2 p{
    font-size: 64px;
    position: absolute;
    margin-left: 460px;
    margin-top: 170px;
    color: white;
    letter-spacing: 2px;
}

.block3{
    width: 1440px;
    height: 537px;
}

.block3 h1{
    font-size: 30px;
    padding-top: 60px;
    letter-spacing: 6px;
    padding-right: 1px;
    margin-bottom: 15px;
}

.block3 p{
    font-size: 18px;
    word-spacing: 10px;
    padding-right: 2px;
    letter-spacing: 1px;
    margin-bottom: 53px;
}

h2{
    font-size: 21px;
    margin-top:20px;
    margin-bottom:18px;
    letter-spacing: 7px;
    padding-left: 7px;
}

h3{
    font-size: 21px;
    margin-top:20px;
    margin-bottom:18px;
    letter-spacing: 7px;
    
}

h4{
    font-size: 21px;
    margin-top:20px;
    margin-bottom:18px;
    letter-spacing: 7px;
    padding-left: 7px;
}

.block4{
    height: 842px;
    width: 1440px;
    background-color:rgb(25,32,36,100%);
    
}

.block4 .imgblocks .img1 img{
    width: 430px;
    height: 287px;
}

.block4 .imgblocks .img2 img{
    width: 430px;
    height: 287px;
}

.block4 .imgblocks{
    display: grid;
    grid-column-start: 1 ;
    grid-column-end: 2;
    width: 940px;
    height: 550px;
    margin-left: 258px;
    grid-column-gap: 8px;
    margin-top: 60px;
}

.block4 .imgblocks .img1{
    grid-column-start: 1;
    width: 450px;
    height: 585px;
    padding-top: 20px;
}

.block4 .imgblocks .img2{
    grid-column-start: 2 ;
    width: 450px;
    height: 585px;
    padding-top: 20px;
}

.block4 a{
    color:white;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
}

.block4 #p4{
    color:white;
    font-size: 30px;
    padding-top: 79px;
    letter-spacing: 5px;
    padding-bottom:17px;
    margin-bottom: 0px;
    font-family: 'Open Sans';
    padding-left: 8px;
}

.block4 .imgblocks .img1 h6{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.block4 .imgblocks .img1 #p5{
    padding-bottom: 3px; 
    margin-top: 0px; 
    padding-left: 17px; 
    line-height: 25px;
    color: white;
    width: 420px;
    height: 100px;
    margin-bottom: 16px;
}

.block4 .imgblocks .img1 button{
    margin-top: 0px;
}

.block4 .imgblocks .img2 p{
    width: 400px;
    height: 100px;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 25px;
}

.block4 .imgblocks .img2 #p6{
    padding-bottom: 20px; 
    margin-top: 0px; 
    padding-left: 2px; 
    line-height: 25px;
    color: white;
    font-size: 14px;
    width: 420px;
    height: 83px;
    letter-spacing: 1px;
}

.block5{
    width: 1440px;
    height: 1373px;
}

.block5 .topblock{
    width: 940px;
    height: 1030px;
    margin-left: 220px;
}

.block5 .topblock #p7{
    color:rgb(103,103,112,100%);
    margin-top: 77px;
    font-size: 32px;
    letter-spacing: 4px;
    padding-left: 60px;
    word-spacing: 7px;
    margin-bottom: 15px;
}

.block5 .topblock a{
    color:rgb(142,142,156,100%);
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 17px;
    word-spacing: 6px;
    letter-spacing: 2px;
    padding-left: 40px;
}

.block5 .topblock #p8{
    margin-top: 10px; 
    font-size: 33px;
    padding-left: 60px;
    word-spacing: 5px;
    margin-bottom: 18px;
}

.block5 .topblock #p9{
    margin-top: 5px; 
    width: 715px; 
    height: 25px; 
    font-size: 14px; 
    margin-left: 140px;
    word-spacing: 0px;
    margin-bottom: 0px;
}

.block5 .topblock #p10{
    margin-top: 0px; 
    width: 715px; 
    height: 25px; 
    font-size: 14px; 
    margin-left: 140px;
    word-spacing: 0px;
    margin-bottom: 0px;
}

.block5 .topblock #p11{
    margin-top: 0px; 
    width: 715px; 
    height: 25px; 
    font-size: 14px; 
    margin-left: 140px;
    word-spacing: 0px;
    margin-bottom: 0px;
}

.block5 .topblock img{
    width: 940px;
    height: 627px;
    padding-left: 30px;
}

.block5 .topblock .buttonline{
    margin-top: 74px;
    margin-bottom: 53px;
    word-spacing: 16px;
    padding-left: 65px;
}

.block5 .topblock .buttonline button{
    width: 196px;
    height: 20px;
    font-size: 16px;
    word-spacing: 5px;
    border-radius: 4px;
    border:none;
    color: white; 
    background-color: rgb(146,160,173,100%);
    font-size: 16px;
    padding-top: 0px;
    letter-spacing: 2px;
}

.block5 .bottomblock {
    width: 960px;
    height: 225px;
    margin-left: 220px;
    margin-top: 63px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 30px;
}

.block5 .bottomblock .leftblock{
    grid-column-start: 1 ;
    width: 320px;
    height: 175px;
    text-align: left;
    word-spacing: 10px;
}

.block5 .bottomblock .middleblock{
    grid-column-start: 2;
    width: 320px;
    height: 188px;
    font-size: 13px;
}

.block5 .bottomblock .rightblock{
    grid-column-start: 3;
    width: 320px;
    height: 225px;
}

.block5 .middleblock p{
    text-align: left;
}

.block5 .bottomblock .leftblock #top{
    font-size: 18px;
    padding-left: 30px;
    letter-spacing: 4px;
    
}

.block5 .bottomblock .leftblock #down{
    width: 280px;
    font-size: 14px;
    margin-top: 25px;
    word-spacing: 4px;
    padding-left: 30px;
    letter-spacing: 0px;
    line-height: 25px;
}

.block5 .bottomblock .middleblock {
    width: 290px;
}

.block5 .bottomblock .middleblock .two{
    width: 300px;
    height: 31px;
    word-spacing: 4px;
    margin-bottom: -8px;
    border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .middleblock .five{
    border-bottom: 1px solid rgb(213,213,224,100%);
    width: 300px;
    height: 31px;
    word-spacing: 4px;
    margin-bottom: -8px;
}
.block5 .bottomblock .middleblock .three{
    width: 300px;
    height: 31px;
    word-spacing: 4px;
    margin-bottom: -8px;
    border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .middleblock .four{
    width: 300px;
    height: 31px;
    word-spacing: 4px;
    margin-bottom: -8px;
    border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .middleblock #one{
    font-size: 18px;
    letter-spacing: 4px;
    word-spacing: 2px;
    margin-bottom: 20px;
}
.block5 .bottomblock .rightblock img{
    width: 23px;
    height: 25px;
}

.block5 .bottomblock .rightblock{
    display: grid;
    width: 320px;
}

.block5 .bottomblock .rightblock .one{
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start:2;
    border-bottom: solid 1px rgb(213,213,224,100%);
    width: 300px;
    height: 20px;
    
}

.block5 .bottomblock .rightblock .two{
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .three{
    grid-column-end: 2;
    grid-row-start: 4;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .four{
    grid-column-start: 1;
    grid-row-start: 5;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .five{
    grid-column-start: 1;
    grid-row-start: 6;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock #one{
    grid-column-start: 1;
    grid-row-start: 2;
}

.block5 .bottomblock .rightblock #two{
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start:3;
}

.block5 .bottomblock .rightblock #three{
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 4;
}

.block5 .bottomblock .rightblock #four{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
}

.block5 .bottomblock .rightblock #five{
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 6;
}

.block5 .bottomblock .rightblock #head{
    font-size: 22px;
    width: 100px;
    margin-left: -10px;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-bottom: 17px;
}

.block5 .bottomblock .rightblock a{

    text-align: left;
    margin-left: 28px;
    color: rgb(105,185,225,100%);
    font-size: 14px;
    padding-bottom: 13px;
    border-bottom: solid 1px rgb(213,213,224,100%);
    margin-bottom: 3px;
}

.block6{
    width: 100%;
    height: 101px;
    background-color: rgb(56,56,56);
}

.block6 .copy{
    padding-top: 40px;
    color:rgb(158,158,158);
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 4px;
}