*{
    font-family: 'Barlow', sans-serif;
}

.block1{
    width: 1440px;
    height: 60px;
    text-align: center;  
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    border-color: black;
}

.allblocks{
    width: 1440px;
    height: 3630px;
    text-align: center;
    margin: auto;
}

.block1 p{
    
    font-size: 32px;
    margin-bottom: 32px;
    margin-top: 12px;
    color: rgb(105,185,225,100%);
    grid-column-start:1 ;
    margin-right: 800px;
    margin-left: 15px;
}

.block1 a{
    grid-column-start:2 ;
    grid-column-end:3 ;
    margin-top: 20px;
    color: rgb(0,130,243);

}

.block2{
    background-image: url(ocr.hgs6d.jpeg);
    height: 585px;
    width: 1440px;
}

.block2 button{
    background: none;
    background-color:rgb(105,185,225,100%);
    color: white;
    border-color: rgb(105,185,225,100%);
    border-radius: 4px;
    border-width: 1px;
    width: 138px;
    height: 45px;
    margin-top: 350px;
    margin-right: 10px;
    font-size: 16px;
}

.block2 p{
    font-size: 60px;
    position: absolute;
    margin-left: 500px;
    margin-top: 180px;
    color: white;
}

.block3{
    width: 1440px;
    height: 583px;
}

.block3 h1{
    font-size: 30px;
    padding-top: 50px;
    word-spacing: 10px;
}

.block3 p{
    font-size: 17px;
    word-spacing: 7px;
}

h2{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

h3{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

h4{
    font-size: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.block4{
    height: 800px;
    width: 1440px;
    background-color:rgb(25,32,36,100%);
    
}

.block4 .imgblocks .img1 img{
    width: 430px;
    height: 287px;
}

.block4 .imgblocks .img2 img{
    width: 430px;
    height: 287px;
}

.block4 .imgblocks{
    display: grid;
    grid-column-start: 1 ;
    grid-column-end: 2;
    width: 940px;
    height: 550px;
    margin-left: 270px;
    grid-column-gap: 20px;
    margin-top: 60px;
}

.block4 .imgblocks .img1{
    grid-column-start: 1;
    width: 450px;
    height: 550px;
}

.block4 .imgblocks .img2{
    grid-column-start: 2 ;
    width: 450px;
    height: 550px;
}

.block4 a{
    color:white;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 17px;
    word-spacing: 5px;
}

.block4 p{
    color:white;
    
    font-size: 30px;
    margin-top: 0px;
}

.block4 .imgblocks .img1 h6{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.block4 .imgblocks .img1 p{
    margin-top: 20px;
    width: 400px;
    height: 100px;
    font-size: 17px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.block4 .imgblocks .img1 button{
    margin-top: 0px;
}

.block4 .imgblocks .img2 p{
    width: 400px;
    height: 100px;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 25px;
}

.block5{
    width: 1440px;
    height: 1450px;
    
    
}

.block5 .topblock{
    width: 940px;
    height: 1030px;
    margin-left: 220px;
}

.block5 .topblock p{
    color:rgb(103,103,112,100%);
    margin-top: 70px;
    font-size: 30px;
}

.block5 .topblock a{
    color:rgb(142,142,156,100%);
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 17px;
    word-spacing: 5px;
    
}

.block5 .topblock img{
    width: 940px;
    height: 627px;
}

.block5 .topblock .buttonline{
    margin-top: 60px;
    margin-bottom: 40px;
    word-spacing: 16px;
}

.block5 .topblock .buttonline button{
    width: 196px;
    height: 25px;
    font-size: 16px;
    word-spacing: 5px;
    border-radius: 4px;
    border:none;
    color: white; 
    background-color: rgb(146,160,173,100%);
}

.block5 .bottomblock {
    width: 960px;
    height: 225px;
    margin-left: 220px;
    margin-top: 100px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 20px;
}

.block5 .bottomblock .leftblock{
    grid-column-start: 1 ;
    width: 320px;
    height: 175px;
    text-align: left;
    word-spacing: 10px;
}

.block5 .bottomblock .middleblock{
    grid-column-start: 2;
    width: 320px;
    height: 188px;
    font-size: 13px;
}

.block5 .bottomblock .rightblock{
    grid-column-start: 3;
    width: 320px;
    height: 225px;
}

.block5 .middleblock p{
    text-align: left;
}

.block5 .bottomblock .leftblock #top{
    font-size: 18px;
}

.block5 .bottomblock .leftblock #down{
    font-size: 14px;
}

.block5 .bottomblock .middleblock .two{
    width: 300px;
    height: 31px;
    border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .middleblock .five{
    border-bottom: 1px solid rgb(213,213,224,100%);
    width: 300px;
    height: 31px;
}
.block5 .bottomblock .middleblock .three{
width: 300px;
height: 31px;
border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .middleblock .four{
width: 300px;
height: 31px;
border-bottom: 1px solid rgb(213,213,224,100%);
}

.block5 .bottomblock .rightblock img{
    width: 18.4px;
    height: 14.93px;
}

.block5 .bottomblock .rightblock{
    display: grid;
    width: 320px;
}

.block5 .bottomblock .rightblock .one{
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start:2;
    border-bottom: solid 1px rgb(213,213,224,100%);
    width: 300px;
    height: 20px;
}

.block5 .bottomblock .rightblock .two{
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .three{
    grid-column-end: 2;
    grid-row-start: 4;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .four{
    grid-column-start: 1;
    grid-row-start: 5;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock .five{
    grid-column-start: 1;
    grid-row-start: 6;
    border-bottom: solid 1px rgb(213,213,224,100%);
    height: 20px;
}

.block5 .bottomblock .rightblock #one{
    grid-column-start: 1;
    grid-row-start: 2;
}

.block5 .bottomblock .rightblock #two{
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start:3;
}

.block5 .bottomblock .rightblock #three{
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 4;
}

.block5 .bottomblock .rightblock #four{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
}

.block5 .bottomblock .rightblock #five{
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 6;
}

.block6{
    width: 100%;
    height: 101px;
    background-color: rgb(56,56,56);
}

.block6 .copy{
    padding-top: 50px;
    color:rgb(158,158,158);
    font-size: 15px;
}